.search {
  display: flex;
  padding: 0 10px;
  position: relative;
  &-input {
    border: 1px solid #ececed;
    border-radius: 4pt;
    padding: 0 8pt;

    color: #48484a;
    font-family: Space Grotesk, Arial, sans-serif;
    font-size: 14px;
    appearance: none;
    border: none;
    width: 100%;
    border-radius: 4pt 0 0 4pt;
    height: 24pt;
    &:focus,
    &:active {
      border: none;
      appearance: none;
      outline: none;
    }
  }

  &-btn {
    background-color: rgba(72, 72, 74, 0.85);
    color: #f2f2f2;
    &:hover {
      background-color: rgba(72, 72, 74, 0.75);
    }
  }
  @media only screen and (min-width: 768px) {
    padding: 0;
  }
  &-result {
    position: absolute;
    top: 2rem;
    width: 100%;
    left: 0;
  }
}

.btn-round {
  border-radius: 0 4pt 4pt 0 !important;
  padding: 0 8pt !important;
  height: 24pt;
  width: 90px;
}

.sub-not-found {
  height: 20pt;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #8a8a8a;
  margin: 0;
  font-size: 10px;
}
