<div class="banner">
  <div class="banner-container">
    <br />
    <br />
    <div class="text">
      <h1 class="banner-header orange-text">OpenWeather</h1>
      <p class="banner-description">
        Weather forecasts, nowcasts and history in a fast and elegant way
      </p>
    </div>
    <br />
    <br />
  </div>
</div>
<div class="gray">
  <div class="page">
    <div class="search-container grid-5-4">
      <app-search></app-search>
      <div class="units">
        <div class="buttons-container">
          <button class="btn">
            <span>Metric: </span>
            <span>°C, m/s</span>
          </button>
          <button class="btn btn-selected">
            <span>Imperial: </span>
            <span>°F, mph</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page">
  <div class="container grid-5-4">
    <div class="current-container">
      <app-current-weather></app-current-weather>
    </div>
    <div class="daily-container">
      <app-daily-weather></app-daily-weather>
    </div>
  </div>
</div>
